# Compiled class file
/Java/Bit_Manipulation/*.class

# Log file
*.log

# V S Code
.vscode

# Package Files #
/Java/Bit_Manipulation/*.jar
/Java/Bit_Manipulation/*.war
/Java/Bit_Manipulation/*.nar
/Java/Bit_Manipulation/*.ear
/Java/Bit_Manipulation/*.zip
/Java/Bit_Manipulation/*.tar.gz
/Java/Bit_Manipulation/*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
